<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public/bomb/bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,650},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>public/bomb/bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,164},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,326},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,164},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/bomb/bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>public/cheers.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,724},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>public/cheers/cheers1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,822},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>public/cheers/cheers10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,765},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,671},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,556},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,441},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,650},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers7.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers8.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,164},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/cheers/cheers9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,326},{160,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,113}}</string>
                <key>sourceSize</key>
                <string>{160,113}</string>
            </dict>
            <key>public/eggs/egg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,279},{57,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,74}}</string>
                <key>sourceSize</key>
                <string>{57,74}</string>
            </dict>
            <key>public/eggs/egg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,509},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>public/eggs/egg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,368},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>public/eggs/egg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,875},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>public/eggs/egg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,875},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>public/eggs/egg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,875},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>public/firecrackers.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,885},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>public/fireworks.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,885},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>public/flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,822},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>public/flower/flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,605},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>public/flower/flower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,738},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,738},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,521},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,738},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,521},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,738},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,521},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,437},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower/flower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,353},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>public/flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,782},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>public/kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,954},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>public/kiss/kiss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,822},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>public/kiss/kiss10.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,620},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,295},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,279},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,206},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,117},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,786},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,786},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss8.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,927},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/kiss/kiss9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>public/redbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,685},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>public/shoe/shoe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,799},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>public/shoe/shoe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,620},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,502},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,384},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,502},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,384},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,235},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe8.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,117},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/shoe/shoe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,880},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>public/xuejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,709},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigface.png</string>
            <key>size</key>
            <string>{860,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd42c71dc5a733f914b6327cbd6324d0:1/1$</string>
            <key>textureFileName</key>
            <string>bigface.png</string>
        </dict>
    </dict>
</plist>
