<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public/btn_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,687},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>public/btn_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,651},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>public/btn_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,493},{258,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,80}}</string>
                <key>sourceSize</key>
                <string>{258,80}</string>
            </dict>
            <key>public/btn_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{258,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,80}}</string>
                <key>sourceSize</key>
                <string>{258,80}</string>
            </dict>
            <key>public/btn_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,575},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>public/btn_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,697},{161,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,87}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>public/btn_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,608},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>public/btn_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,411},{258,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,80}}</string>
                <key>sourceSize</key>
                <string>{258,80}</string>
            </dict>
            <key>public/btn_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{258,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,80}}</string>
                <key>sourceSize</key>
                <string>{258,80}</string>
            </dict>
            <key>public/btn_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,766},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>public/btn_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,608},{161,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,87}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>public/icon_bg_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,485},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>public/icon_bg_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,188}}</string>
                <key>sourceSize</key>
                <string>{632,188}</string>
            </dict>
            <key>public/icon_bg_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{407,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,291}}</string>
                <key>sourceSize</key>
                <string>{407,291}</string>
            </dict>
            <key>public/icon_bg_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{291,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,407}}</string>
                <key>sourceSize</key>
                <string>{291,407}</string>
            </dict>
            <key>public/icon_bg_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,192},{291,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,407}}</string>
                <key>sourceSize</key>
                <string>{291,407}</string>
            </dict>
            <key>public/icon_bg_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{598,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,64}}</string>
                <key>sourceSize</key>
                <string>{598,64}</string>
            </dict>
            <key>public/icon_bg_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,601},{588,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,5}}</string>
                <key>sourceSize</key>
                <string>{588,5}</string>
            </dict>
            <key>public/icon_bg_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>public/icon_bg_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{598,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,82}}</string>
                <key>sourceSize</key>
                <string>{598,82}</string>
            </dict>
            <key>public/icon_bg_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{720,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,47}}</string>
                <key>sourceSize</key>
                <string>{720,47}</string>
            </dict>
            <key>public/icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,485},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>public/icon_sex0.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,728},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>public/icon_sex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,411},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{997,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6c8cb4a4c51390487c2b8193f55383:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
