<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public/btn_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,54},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>public/btn_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,54},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>public/btn_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,54},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>public/btn_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/btn_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,54},{99,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,67}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>public/btn_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,54},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>public/icon_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,123},{192,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,44}}</string>
                <key>sourceSize</key>
                <string>{192,44}</string>
            </dict>
            <key>public/process_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{959,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,24}}</string>
                <key>sourceSize</key>
                <string>{959,24}</string>
            </dict>
            <key>public/process_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{959,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,24}}</string>
                <key>sourceSize</key>
                <string>{959,24}</string>
            </dict>
            <key>public/process_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>video.png</string>
            <key>size</key>
            <string>{1018,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdad87f63bbe98ada81e66831e347f44:1/1$</string>
            <key>textureFileName</key>
            <string>video.png</string>
        </dict>
    </dict>
</plist>
